<li class="next">
  <%= link_to_unless current_page.last?,'≫', url, rel: 'next', remote: remote, class: "block py-[8px] w-8 h-8 bg-white border text-xs text-console font-bold text-center !leading-none rounded-r-[3px]",data: { turbo_frame: 'articles' } %>
</li>