<li class="prev">
  <%= link_to_unless current_page.first?, '≪', url, rel: 'prev', remote: remote, class: "block py-[8px] w-8 h-8 bg-white border text-xs text-console font-bold text-center !leading-none rounded-l-[3px] hover:bg-blue-500 focus:bg-blue-500", data: { turbo_frame: 'articles' } %>
</li>