<div class="bg-white py-6 sm:py-8 lg:py-12 mt-10">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- この部分を固定 -->
    <div class="text-center sticky top-0 z-10">
      <h2 class="text-2xl font-bold text-gray-800 font-hannari mb-4 lg:text-3xl"><span class="font-hannari"><%= @area.name %></span>、めっちゃええとこ。</h2>
    </div>
  

    <!-- この部分をスクロール可能に -->
    <div class="grid gap-x-4 gap-y-6 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4 overflow-y-auto" style="max-height: 80vh;">
    <% @articles.each do |article| %>
      <%= render 'article', article: article, area_id: @area.id %>
    <% end %>
    </div>
  </div>
</div>
