<div class="top_image items-center text-center justify-center font-hannari">
  <i class="fa-solid fa-arrow-down fa-bounce fa-2xl" style="font-size: 400%; color: #412e1d;"></i>
  <section class="overflow-hidden justify-center mt-0">
    <div class="container px-5 py-16 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap justify-center">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-8 mt-8 lg:mt-0 order-last lg:order-first flex flex-col justify-center">
          <h2 class="text-sm tracking-widest"></h2>
          <p class="leading-relaxed text-lg lg:text-sm">秘密にしたいけど、自慢したい</p>
          <p class="leading-relaxed text-lg lg:text-2xl">関西のめっちゃええとこ、共有しあおう</p>
        </div>
        <%= image_tag 'top_image.webp', alt: "ecommerce", class: "lg:w-1/2 w-full lg:h-full object-cover object-center rounded order-first lg:order-last" %>
      </div>
    </div>
  </section>
  <i class="fa-solid fa-arrow-down fa-bounce fa-2xl" style="font-size: 400%; color: #412e1d;"></i>
  <section class="overflow-hidden justify-center">
    <div class="container px-5 py-16 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap justify-center">
        <%= image_tag 'sample.jpg', alt: "ecommerce", class: "lg:w-1/2 w-full lg:h-full object-cover object-center rounded" %>
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 flex flex-col justify-center">
          <p class="leading-relaxed text-lg lg:text-sm">現在地から行ける名スポットを見つけよう</p>
          <p class="leading-relaxed text-lg lg:text-2xl">意外と近くに名店や景勝地はあるかも？</p>
        </div>
      </div>
    </div>
  </section>
  <i class="fa-solid fa-arrow-down fa-bounce fa-2xl" style="font-size: 400%; color: #412e1d;"></i>
  <section class="overflow-hidden">
    <div class="container px-5 pt-16 pb-20 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 order-last lg:order-first flex flex-col justify-center">
        <p class="leading-relaxed text-lg lg:text-sm">実際に行ってみよう</p>
          <p class="leading-relaxed text-lg lg:text-2xl">おすすめ度をGoogleで確認してみて</p>
        </div>
        <%= image_tag 'sample.jpg', alt: "ecommerce", class: "lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded order-first lg:order-last" %>
      </div>
    </div>
  </section>
  <h1 class="text-2xl lg:text-4xl pb-20">関西で素敵なひと時を！</h1>
</div>