<body class="bg-opacity-50 relative background-page" data-controller="background" data-background-images-value='<%= @images.map { |img| asset_path("toppage/#{img}") }.to_json %>'>

<h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-9xl xl:text-10xl text-gray font-hannari leading-tight mt-20 text-left pl-4">
  関西、<br>
  めっちゃええとこ。
</h1>
<div class="fixed right-0 bottom-0 p-4">
<%= link_to main_top_path, class: "relative inline-flex items-center justify-center px-10 py-6 overflow-hidden font-medium transition duration-300 ease-out border-2 rounded-full shadow-md group" do %>
<span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-stone-400 group-hover:translate-x-0 ease">
<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
</span>
<span class="absolute flex items-center justify-center w-full h-full text-gray-700 transition-all duration-300 transform group-hover:translate-x-full ease">Start</span>
<span class="relative invisible">Button Text</span>
<% end %>
</div>
