<footer class="fixed bottom-0 left-0 right-0 z-8 bg-blue-200 p-3 shadow-md">
  <div class="container mx-auto text-center">
    <div class="flex justify-center space-x-4">
      <%= link_to "お問い合わせ", "#", class: "text-white hover:underline" %>
      <%= link_to "利用規約", "#", class: "text-white hover:underline" %>
      <%= link_to "プライバシーポリシー", "#", class: "text-white hover:underline" %>
    </div>
  </div>
</footer>