<footer class="fixed bottom-0 left-0 right-0 z-20 bg-blue-100 p-3 shadow-md ">
  <div class="container mx-auto text-center">
    <div class="flex justify-center space-x-4 text-g">
      <%= link_to "お問い合わせ", "#", class: "text-zinc-500 hover:underline" %>
      <%= link_to "利用規約", "#", class: "text-zinc-500 hover:underline" %>
      <%= link_to "プライバシーポリシー", "#", class: "text-zinc-500 hover:underline" %>
    </div>
  </div>
</footer>