<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- この部分を固定 -->
    <div class="text-center sticky z-10">
      <h2 class="text-2xl font-bold text-gray-800 font-hannari lg:text-3xl whitespace-nowrap">めっちゃええとこ教えてや。</h2>
    </div>
    <div class="pt-0 md:pt-10 overflow-y-auto" style="max-height: 80vh;>
      <%= render partial: 'shared/kansai_area', 
                locals: { 
                  link_for_shiga: new_area_article_path(area_id: 1),
                  link_for_kyoto: new_area_article_path(area_id: 2),
                  link_for_osaka: new_area_article_path(area_id: 3),
                  link_for_hyogo: new_area_article_path(area_id: 4), 
                  link_for_nara: new_area_article_path(area_id: 5),
                  link_for_wakayama: new_area_article_path(area_id: 6)
                } 
      %>
    </div>
  </div>
</div>