<div class="pt-0 md:pt-20">
<%= render partial: 'shared/kansai_area', 
          locals: { 
            link_for_shiga: new_area_article_path(area_id: 1),
            link_for_kyoto: new_area_article_path(area_id: 2),
            link_for_osaka: new_area_article_path(area_id: 3),
            link_for_hyogo: new_area_article_path(area_id: 4), 
            link_for_nara: new_area_article_path(area_id: 5),
            link_for_wakayama: new_area_article_path(area_id: 6)
          } 
%>
</div>