@tailwind base;
@tailwind components;
@tailwind utilities;

svg, path {
  pointer-events: all;
}


@keyframes image-switch-animation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
}

@layer components {
  .custom-select {
    @apply appearance-none bg-white/30 backdrop-blur-md;
  }
}